<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="parallelProperty"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="classpath:parallel.properties" />
		<property name="systemPropertiesMode" value="2" />
	</bean>

	<bean id="putConfigToSystemProperty"
		class="com.travelsky.pcc.reacc.tpc.property.PutConfigToSystemProperty"
		init-method="putCofingToSystemProperty" depends-on="parallelProperty">
		  <property name="propertiesMap">
            <map>
                <entry key="hornetq.file">
                    <value>${hornetq.file}</value>
                </entry>
            </map>
        </property>
	</bean>


	<bean id="EmbeddedJms" class="org.hornetq.integration.spring.SpringJmsBootstrap"
		init-method="start" destroy-method="stop" depends-on="putConfigToSystemProperty">
		<property name="mbeanServer" ref="mbeanServer"></property>
	</bean>
	<bean id="mbeanServer" class="java.lang.management.ManagementFactory"
		factory-method="getPlatformMBeanServer" />

	<bean abstract="true" id="abstractTaskListener"
		class="com.travelsky.pcc.reacc.tpc.AbstractTaskListener">
		<property name="taskContextManager" ref="taskContextManager"></property>
	</bean>

	<bean id="listener"
		class="com.travelsky.pcc.reacc.tpc.client.listener.TravelskyParallelDoTaskistener"
		parent="abstractTaskListener">
	</bean>

	<bean id="notify"
		class="com.travelsky.pcc.reacc.tpc.client.listener.TravelskyParallelJoinListener">
	</bean>
	
	<bean id="group"
		class="com.travelsky.pcc.reacc.tpc.TaskGroupListener">
		<property name="notifyService" ref="notifyService" />
		<property name="replyGroupService" ref="replyGroupService" />
		<property name="taskParallelClientInterface" ref="taskParallelClientInterface" />
	</bean>
	
	<bean id="listenerGroupContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="ConnectionFactory" />
		<property name="destination" ref="/queue/travelskyGroupQueue" />
		<property name="messageListener" ref="group" />
		<property name="sessionTransacted" value="false"></property>
		<property name="concurrentConsumers" value="${excuteTaskGroup.threadPool.concurrent.size}" />
		<property name="maxConcurrentConsumers" value="${excuteTaskGroup.threadPool.max.size}" />
	</bean>

	<bean id="listenerContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="ConnectionFactory" />
		<property name="destination" ref="/queue/travelskyQueue" />
		<property name="messageListener" ref="listener" />
		<property name="sessionTransacted" value="false"></property>
		<property name="concurrentConsumers" value="${excuteTask.threadPool.size}" />
		<property name="maxConcurrentConsumers" value="${excuteTask.threadPool.size}" />
	</bean>

	<bean id="listenerNotifyContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="ConnectionFactory" />
		<property name="destination" ref="/queue/travelskyNotifyQueue" />
		<property name="messageListener" ref="notify" />
		<property name="sessionTransacted" value="false"></property>
		<property name="concurrentConsumers" value="${asyNotify.threadPool.size}" />
		<property name="maxConcurrentConsumers" value="${asyNotify.threadPool.size}" />
	</bean>
	
	<bean id="jmsConnectionPool" class="com.travelsky.pcc.reacc.tpc.jms.JmsConnectionPool"
		depends-on="EmbeddedJms" init-method="init" destroy-method="destroy">
		<property name="connectionFactory" ref="ConnectionFactory"></property>
		<property name="maxConnection" value="${send.parellel.size}"></property>
	</bean>

	<bean id="jmsNotifyConnectionPool" class="com.travelsky.pcc.reacc.tpc.jms.JmsConnectionPool"
		depends-on="EmbeddedJms" init-method="init" destroy-method="destroy">
		<property name="connectionFactory" ref="ConnectionFactory"></property>
		<property name="maxConnection" value="${reply.parallel.size}"></property>
	</bean>
	
	<bean id="jmsGroupConnectionPool" class="com.travelsky.pcc.reacc.tpc.jms.JmsConnectionPool"
		depends-on="EmbeddedJms" init-method="init" destroy-method="destroy">
		<property name="connectionFactory" ref="ConnectionFactory"></property>
		<property name="maxConnection" value="${send.group.size}"></property>
	</bean>
	
	<bean id="jmsGroupReplyConnectionPool" class="com.travelsky.pcc.reacc.tpc.jms.JmsConnectionPool"
		depends-on="EmbeddedJms" init-method="init" destroy-method="destroy">
		<property name="connectionFactory" ref="ConnectionFactory"></property>
		<property name="maxConnection" value="${send.group.size}"></property>
	</bean>
	
   <bean id="senderAndReplyService" class="com.travelsky.pcc.reacc.tpc.jms.JMSService"
		depends-on="EmbeddedJms">
		<property name="queue" ref="/queue/travelskyQueue" />
		<property name="replyQueue" ref="/queue/travelskyReplyQueue" />
		<property name="jmsConnectionPool" ref="jmsConnectionPool" />
		<property name="replyJmsConnectionPool" ref="jmsNotifyConnectionPool" />
	</bean>

	<bean id="notifyService" class="com.travelsky.pcc.reacc.tpc.jms.JMSService"
		depends-on="EmbeddedJms">
		<property name="jmsConnectionPool" ref="jmsNotifyConnectionPool" />
		<property name="queue" ref="/queue/travelskyNotifyQueue" />
	</bean>

	<bean id="replyService" class="com.travelsky.pcc.reacc.tpc.jms.JMSService"
		depends-on="EmbeddedJms">
		<property name="queue" ref="/queue/travelskyReplyQueue" />
		<property name="jmsConnectionPool" ref="jmsNotifyConnectionPool" />
	</bean>
	
	<bean id="replyGroupService" class="com.travelsky.pcc.reacc.tpc.jms.JMSService"
		depends-on="EmbeddedJms">
		<property name="queue" ref="/queue/travelskyGroupReplyQueue" />
		<property name="jmsConnectionPool" ref="jmsGroupReplyConnectionPool" />
	</bean>
	
	<bean id="sendAndReplyGroupService" class="com.travelsky.pcc.reacc.tpc.jms.JMSService"
		depends-on="EmbeddedJms">
		<property name="queue" ref="/queue/travelskyGroupQueue" />
		<property name="replyQueue" ref="/queue/travelskyGroupReplyQueue" />
		<property name="jmsConnectionPool" ref="jmsGroupConnectionPool" />
		<property name="replyJmsConnectionPool" ref="jmsGroupReplyConnectionPool" />
	</bean>
	
	<bean id="taskContextManager"
		class="com.travelsky.pcc.reacc.tpc.status.DefaultTaskContextManager"
		init-method="init">
	</bean>

	<bean id="MonitorBatchTask" class="com.travelsky.pcc.reacc.tpc.status.TaskMonitor"
		init-method="init" destroy-method="destroy" depends-on="taskContextManager">
		<property name="notifyService" ref="notifyService" />
		<property name="replyService" ref="replyService" />
		<property name="taskContextManager" ref="taskContextManager" />
		<property name="interval" value="${taskMonitor.interval}"></property>
	</bean>

	<bean id="taskParallelClientInterface" class="com.travelsky.pcc.reacc.tpc.client.TaskParallelClient">
		<property name="senderAndReplyService" ref="senderAndReplyService" />
		<property name="taskContextManager" ref="taskContextManager" />
	</bean>
	
	<bean id="taskGroupParallelClientInterface" class="com.travelsky.pcc.reacc.tpc.client.TaskGroupParallelClient">
		<property name="sendAndReplyGroupService" ref="sendAndReplyGroupService" />
	</bean>
	
	<bean id="travelskyParallelComputerTemplate"
		class="com.travelsky.pcc.reacc.tpc.client.TravelskyParallelComputerTemplate" abstract="true">
		<property name="taskGroupParallelClientInterface" ref="taskGroupParallelClientInterface"/>
	</bean>


</beans>
    